{
  "trailingComma": "all",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "insertPragma": false,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
